.home {
    width: 100%;
    align-items: center;
    font-family: "Arial", sans-serif;
    color: white;
    
}

.about {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    color: #f0f0f0;
}
 .about h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    color: #c6c84d;
    height: 50px;
 }
 p{
    font-size: 30px;
 }
 img{
   left: 33rem;
    max-width: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: white;
 }

